<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">My Book</div>
                <a class="nav-link" asp-controller="Home" asp-action="Index" active-when="Home">
                    <div class="sb-nav-link-icon">
                        <img width="25" height="25" src="https://img.icons8.com/sf-ultralight/25/home.png" />
                    </div>
                    Home
                </a>
                <a class="nav-link" asp-controller="Categories" asp-action="Index" active-when="Categories">

                    <div class="sb-nav-link-icon">
                        <svg width="24" height="24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" data-v-481ddfc4="">
                            <path d="M5.288 2.5a.476.476 0 0 0-.45.321l-.472 1.371H2.803a.477.477 0 0 0-.288.856l1.267.96-.43 1.374a.476.476 0 0 0 .74.523l1.196-.895 1.195.895a.476.476 0 0 0 .74-.523l-.428-1.373 1.267-.961a.477.477 0 0 0-.289-.856H6.21l-.472-1.37a.476.476 0 0 0-.45-.322Zm4.962 2a.75.75 0 1 0 0 1.5h10.5a.75.75 0 1 0 0-1.5h-10.5ZM5.288 9.251a.476.476 0 0 0-.45.32l-.47 1.371H2.802a.477.477 0 0 0-.287.856l1.266.96-.428 1.374a.476.476 0 0 0 .739.523l1.195-.895 1.196.895a.476.476 0 0 0 .74-.523l-.43-1.373 1.268-.961a.474.474 0 0 0 .162-.531.475.475 0 0 0-.45-.325H6.208l-.47-1.37a.475.475 0 0 0-.45-.321Zm4.962 1.999a.751.751 0 1 0 0 1.5h10.5a.751.751 0 1 0 0-1.5h-10.5ZM5.288 16a.476.476 0 0 0-.45.321l-.472 1.371H2.803a.477.477 0 0 0-.288.856l1.267.96-.43 1.374a.476.476 0 0 0 .74.523l1.196-.895 1.195.895a.476.476 0 0 0 .74-.523l-.428-1.373 1.267-.961a.477.477 0 0 0-.289-.856H6.21l-.472-1.37a.476.476 0 0 0-.45-.322Zm4.962 2a.751.751 0 1 0 0 1.5h10.5a.751.751 0 1 0 0-1.5h-10.5Z">
                            </path>
                        </svg>
                    </div>
                    Categories
                </a>
                <a class="nav-link" asp-controller="Authors" asp-action="Index" active-when="Authors">
                    <div class="sb-nav-link-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                            <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z" />
                        </svg>
                    </div>
                    Authors
                </a>
            </div>
        </div>
    </nav>
</div>