@{
    ViewData["Title"] = "Home";
}

<div class="text-center m-5">
    <img width="100" height="100" src="https://img.icons8.com/ultraviolet/80/literature--v1.png" alt="literature--v1" />
    <h1 class="display-4">Bookify App</h1>
</div>
